In [1]:
# 1.
#Write a Python program to triple all numbers in a given list of integers. Use Python map.


nums = [1,2,3,4,5]
print("original numbers are : ",nums)

result = map(lambda x: x*x , nums)
print("The squares of the numbers are : ",list(result))

original numbers are :  [1, 2, 3, 4, 5]
The squares of the numbers are :  [1, 4, 9, 16, 25]

In [6]:
#2. 
#Write a Python program to listify the list of given strings individually using Python map


colors = ['red', 'pink','black','white']

print("List before : ", colors,'\n \n')

result = map(list, colors)
list(result)

List before :  ['red', 'pink', 'black', 'white']

[['r', 'e', 'd'],
 ['p', 'i', 'n', 'k'],
 ['b', 'l', 'a', 'c', 'k'],
 ['w', 'h', 'i', 't', 'e']]

In [11]:
#3.
# Write a Python program to create a list containing the power of said number in bases raised to the corresponding number 
#in the index using Python map.

bases = [10,20,30,40,50,60]
index = [0,1,2,3,4,5]

print('base numbers and index : ', bases,'\n', index)

result = map(pow, bases, index)
print(list(result))

base numbers and index :  [10, 20, 30, 40, 50, 60]
 [0, 1, 2, 3, 4, 5]
[1, 20, 900, 64000, 6250000, 777600000]

In [12]:
import re

In [21]:
def is_allowed_specific_char(string):
    charRe = re.compile(r'[a-zA-Z0-9]')
    string = charRe.search(string)
    return not bool(string)
print(is_allowed_specific_char("nepalisthe1#$%"))
print(is_allowed_specific_char('Neaplaisthemostdfhdf'))

False
False

In [22]:
def sum(x,y):
    result = x+y
    return result 
sum(5,6)

11

In [31]:
#4. find the largest number from the given list 

def largest_num(numbers):
    if not numbers:
        return None
    largest = numbers[0]
    for num in numbers : 
        if num>largest :
            largest = num
    return largest

numbers_list = [1,2,3,4,5,6,45]
largest_num(numbers_list)

45

In [41]:
#5. Write a Python function to sum all the numbers in a list.

initial_nums = [1,2,3,4,5,6,7]

def sum_of_all_nums(num_list):
    sum = 0
    for num in num_list:
        sum += num
    return sum
sum_of_all_nums(initial_nums)

28

In [39]:
#6. Creating a list of tuples from two separate lists

numbers = [1,2,3,4,5,6]
squares = [num**2 for num in numbers]
square_pairs = [ (num, square) for num, square in zip(numbers, squares) ]
square_pairs

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36)]

In [60]:
#7.  Write a Python program to reverse a string.

string = 'lufitiuaeb si lapen'

def rev_string(sam_string):
    rstr = ''
    index = len(sam_string)
    while index > 0:
        rstr = rstr + sam_string[index-1]
        index  = index -1
    return rstr

rev_string(string)

'nepal is beauitiful'

In [99]:
# 8. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.


def fact(number):
    if number ==0:
        return 1
    else:
        return number * fact(number-1)
n = int(input("Enter the number you want the factorial of :"))
print("\n \nThe factorial of number ", n, " is ",fact(n))

Enter the number you want the factorial of :5


The factorial of number  5  is  120

In [112]:
#9. Write a Python function to check whether a number falls within a given range


def is_in_range(n_range):
    n = 5
    if n_range[0] == n:
        return 'is in range !'
    else :
        return "outta range"

print("enter the range : ")
start = int(input("start : "))
end = int(input("End : "))

number_range = list(range(start, end +1))

is_in_range(number_range)

enter the range :
start : 4
End : 5

'outta range'

In [113]:
# in a given range
def test_range(n):
    if n in range(5,10):
        print("The number is in range ! ")
    else:
        print("The number is out of range ! ")

number = int(input("Enter a number ! : "))
test_range(number)

Enter a number ! : 1
The number is out of range !

In [35]:
#10.
# Write a Python function that accepts a string and counts the number of upper and lower case letters.

In [38]:
def test_string(string):
    d = {"UPPER_CASE":0, "LOWER_CASE":0}
    for c in string:
        if c.islower():
            d['LOWER_CASE']+=1
        elif c.isupper():
            d["UPPER_CASE"]+=1
        else:
            pass
    print("No of upper case :  ", d["UPPER_CASE"])
    print("No of lower case :  ", d["LOWER_CASE"])

string1 = "Nepal Is a Beautiful Country"
test_string(string1)

No of upper case :   4
No of lower case :   20

In [69]:
#11.
#Write a Python function that takes a list and returns a new list with distinct elements from the first list.

def unique_list(mess_list):
    new_list = []
    for n in mess_list:
        if n not in new_list:
            new_list.append(n)
    return new_list
            
    print(new_list)
unique_list([1,1,2,2,3,1,2,4,5,6,6,6,8,5,5,8,7,5,10])

[1, 2, 3, 4, 5, 6, 8, 7, 10]

In [82]:
#12.
# . Write a Python program that matches a word containing 'z'.

string = 'There are so many zoos in NewZeeland '

def find_z(string):
    splitted_string = string.split()
    for word in splitted_string:
        if 'z' in word.lower() :
            print(word)
find_z(string)

zoos
NewZeeland

In [3]:
# 13
# Write a Python program to print the even numbers from a given list.

user_list = [1,2,3,4,5,6,7,8,9,10,11,25,15,44,49,46]

def is_even_number(numbers):
    even_numbers = []
    for num in numbers:
        if num %2 == 0:
            even_numbers.append(num)
    print('Even numbers are : ', even_numbers)

is_even_number(user_list)

Even numbers are :  [2, 4, 6, 8, 10, 44, 46]

In [17]:
#14
#Write a Python function to check whether a number is "Perfect" or not.
# The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. 


def is_a_perfect_number(number):
    roots = []
    for i in range(1,number):
        if number % i == 0:
            roots.append(i)
    print("Roots of the number ", number , 'is ', roots)
    sum = 0
    for i in roots:
        sum = sum+i
    if sum == number:
        print("The number ", number ,' is a perfect number !')
    else:
        print("The sum of ", roots)
        print("is not equal to ", number)
        print("So, its not a perfect number ! ")
        

is_a_perfect_number(6)

Roots of the number  6 is  [1, 2, 3]
The number  6  is a perfect number !

In [23]:
#15
# Write a Python function that checks whether a passed string is a palindrome or not.

word = 'madam'

def is_a_palindrome(word):
    r_str = ''
    index = len(word)
    while index >0:
        r_str = r_str + word[index-1]
        index = index -1
    if r_str == word :
        print("The word is palindrome ! ")
    else:
        print("The word isn't a palindrome !")
is_a_palindrome(word)

The word is palindrome !

In [42]:
#16
# Write a Python program that matches a string that has an a followed by three 'b'.
import re
def b_word(string):
    pattern = 'ab?'
    if re.search(pattern, word):
        print("Match found ")
    else:
        print("No matches found")
b_word("aaabbbccc")

Match found

In [48]:
#17
# Write a Python program that matches a string that has an a followed by two to three 'b'.

import re 
def find_b(string):
    pattern = 'ab{2,3}'
    if re.search(pattern, string):
        print("match found")
    else:
        print("match not found")
find_b('abbbbbbb')

match found

In [55]:
#18
# Write a Python program to insert items into a list in sorted order.

data = [25, 45, 36, 47, 69, 48, 68, 78, 14, 36]
sorted_data = sorted(data)
sorted_data

[14, 25, 36, 36, 45, 47, 48, 68, 69, 78]

In [66]:
#19
# Write a Python program to find a list of integers with exactly two occurrences of nineteen and at least three occurrences of five. Return True otherwise False.
data1 = [19,23,19,20,56,15,26,12]
data2 = [19, 15, 15, 5, 3, 3, 5, 2]

def occurrence(data):
    count_19 = 0
    for d in data:
        if d == 19:
            count_19 = count_19 + 1
    if count_19 == 2:
        return True
    else:
        return False

occurrence(data1)

True

In [73]:
# 20
# Write a Python program to convert a given list of integers and a tuple of integers in a list of strings.

integer_list = [1,2,3,4,5,5,69,85]
def convert_to_str(data):
    str_list = []
    for n in data:
        str_list.append(str(n))
    print(str_list)
convert_to_str(integer_list)

['1', '2', '3', '4', '5', '5', '69', '85']

In [76]:
#21
#  Write a Python program to split a given dictionary of lists into list of dictionaries using the map function.

def list_of_dict(marks):
    result = map(dict, zip(*[[(key, val) for val in value ]for key, value in marks.items()]))
    return list(result)
marks = {'science ': [12,25,36] , 'language': [25,56,89]}
print('original list: ', marks)
print("\n split said dictionary of lists into list of dictionaries: ")

print(list_of_dict(marks))

original list:  {'science ': [12, 25, 36], 'language': [25, 56, 89]}

 split said dictionary of lists into list of dictionaries:
[{'science ': 12, 'language': 25}, {'science ': 25, 'language': 56}, {'science ': 36, 'language': 89}]

In [1]:
#22
#challege by Pushpa Kamal oli 
def sum_2d_array(arr):
    sum = 0
    for sublist in arr:
        for num in sublist:
            sum += num
    return sum

array = [[3, 4], [1, 2]]
result = sum_2d_array(array)
print("Sum of all elements in the array:", result)

Sum of all elements in the array: 10